
<div class="row">
  <aside class="col-md-4">
    <section class="ad_snippet">
      <h1>
        <%= @ad.id %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.ad.any? %>
      <h3>Ads (<%= @user.ad.count %>)</h3>
      <ol class="ads">
        <%= render @ads %>
      </ol>
      <%= will_paginate @ads%>
    <% end %>
  </div>
</div>